<div id="accordion">
	<h1>Cars</h1>
  
    <div><%= render "cars/cars" %></div>
  

	<h1>Clients</h1>

  <div><%= render "clients/clients" %></div>

  

	<h1>Rents</h1>
  <div>
    <p>
      Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
      Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
      ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
      lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    </p>
    <ul>
    	<li>List item one</li>
    	<li>List item two</li>
    	<li>List item three</li>
    </ul>
  </div>
</div>

