body {

}

a:hover {
  color: #C6BD87;
  text-decoration: none;
}

.container {
	padding-top: 30px;
}

.menu {
	background-color: #032E45;
  padding: 15px 25px;
  text-decoration: none;
}

.menu a {
  margin-right: 20px;
  text-transform: uppercase;
}

