html {
  height: 100%;
}

body {
  color: #032E45;
  height: 100%;
  background: -webkit-linear-gradient(0deg, #C6BD87 10%, #F5ECDB 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #C6BD87 10%, #F5ECDB 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #C6BD87 10%, #F5ECDB 90%); /* IE10 */
  background:      -o-linear-gradient(0deg, #C6BD87 10%, #F5ECDB 90%); /* Opera 11.10+ */
  background:         linear-gradient(0deg, #C6BD87 10%, #F5ECDB 90%); /* W3C */
}

h1, h2, h3 {
  margin-bottom: 0;
}

#accordion h1 {
  &:focus {
    outline-style: none;
  }
  &:active {
    outline-style: none;
  }

} 

table{
    border: 1px solid #8C9EA1 !important;
    width: 100%;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {

border: 1px solid #8C9EA1 !important;

  border-right-width:0px;
  border-left-width:0px;
  border-top-width:0px;
  border-bottom-width:0px;

}

#accordion h1 {
  cursor: pointer;
  position: relative;
  background-color: #789F99;
  padding: 10px 15px;
}

.ui-state-active {
  background-color: #9F8F88 !important;
}


table {
  border: 1px solid #032E45;
}

.table td:first-letter { 
  text-transform: uppercase; 
}

a:hover {
  color: #032E45;
  text-decoration: none;
}

.available {
  color: #0E9A18;
}

.menu a:hover {
  color: #C6BD87;
  text-decoration: none;
}

.container {
	padding-top: 10px 20px;
}

.menu {
	background-color: #032E45;
  padding: 15px 25px;
  text-decoration: none;

}

.menu a {
  margin-right: 20px;
  text-transform: uppercase;
}

.flash {
  display: none;
  padding: 10px 25px;
  color: #032E45;
  font-size: 14px;
  font-style: italic;

  &.my-alert {
    background-color: #F55546;
    color: #fff;
  }

  &.my-notice {
    background-color: #C6BD87;

  }

}

.fa {
  float: right;
  padding-right: 5px;
  padding-top: 3px;

}



